In [1]:
n=input()
n

 3

'3'

In [2]:
type(n)

str

In [3]:
n=input()
n

 lucky

'lucky'

In [4]:
n1=input("enter your age:")
n1

enter your age: 22

'22'

In [5]:
type(n1)

str

In [6]:
n=float(input("enter your age:"))
n

enter your age: 22

22.0

In [7]:
name= input("What is your name?")
print("It was nice talking you " + name + "!")

What is your name? lucky

It was nice talking you lucky!

In [9]:
age =input("Enter your age?")
print("Hey, you are already " + age + " years old, " + name + "!")

Enter your age? 22

Hey, you are already 22 years old, lucky!

In [11]:
var_1, var_2 = input("Enter your name: ").split(" ")
print(var_1)
print(var_2)

Enter your name:  disha lucky

disha
lucky