In [1]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [2]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [3]:
fruits = ['apple', 'banana', 'cherry', 'mango']
for x in fruits:
    print(x)

apple
banana
cherry
mango

In [4]:
list1 = [1,2,3,4,5,6]
for i in list1:
    print(i,end='')

123456

In [5]:
a = "123"
for char in a:
    print(char,end=' ')

1 2 3

In [6]:
for x in range(10):
    print(x,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [7]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [8]:
for i in range(11,51):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [10]:
for i in range(100,1,-2,):
    print(i,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [11]:
for i in range(12,50,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [12]:
items = ['item1', 'item2', 'item3', 'item4']
for i in range(len(items)):
    print("item at index ",i," is: ", items[i])

item at index  0  is:  item1
item at index  1  is:  item2
item at index  2  is:  item3
item at index  3  is:  item4

In [13]:
a = [1,2,3,4]
sum1 = 0
for i in a:
    sum1 = sum1+i

print("sum:",sum1)

sum: 10

In [14]:
a = [1,2,3,4]
sum1 = 0
for i in a:
    sum1 = sum1+i
    print("after", i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10

In [15]:
genre = ['pop', 'rock', 'jazz', 'sapna']
for i in range(1):
    print("I like", genre[i])

I like pop

In [16]:
lb=int(input('enter lower bound values:'))
ub=int(input('enter upper bound values:'))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=',')

enter lower bound values: 20
enter upper bound values: 40

20,22,24,26,28,30,32,34,36,38,40,

In [17]:
n=int(input("enter the number:"))
for i in range(n):
    print("*",end=" ")

enter the number: 5

* * * * *

In [18]:
lb=int(input())
ub=int(input())
s=0

for i in range(lb,ub+1):
    if (i%2==0):
        s=s+i
        print(i,end=' ')

print('\nsum is',s)

 4
 25

4 6 8 10 12 14 16 18 20 22 24
sum is 154

In [19]:
for num in range(1,101):
    if num%5 == 0 and num%7!=0:
        print(num)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95
100

In [20]:
a=int(input('enter multiplication table:'))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

enter multiplication table: 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [21]:
n=int(input("enter the number:"))
for i in range(n):
    for j in range(n+1,):
        print("*",end=" ")

enter the number: 3

* * * * * * * * * * * *

In [22]:
squares = []
for i in range(10):
    squares.append(i**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
movies = ['Departed', 'Titanic', 'Aviator', 'Avatar', '2012']
[len(movie) for movie in movies]

[8, 7, 7, 6, 4]

In [25]:
list2 = [-2,-4,-5,-8,3,5]
absv = [abs(x) for x in list2]
absv

[2, 4, 5, 8, 3, 5]

In [26]:
list2 = [-2,-4,-5,-8,3,5]
both = []
for x in list2:
    if x < 0:
        both.append(abs(x))
    else:
        both.append(x**3)

both

[2, 4, 5, 8, 27, 125]

In [27]:
[abs(x) if x<0 else x**3 for x in list2]

[2, 4, 5, 8, 27, 125]

In [28]:
movies = ['Departed', 'Titanic', 'Aviator', 'Avatar', '2012']
a=set()
for i in movies:
    a.add(len(i))

a

{4, 6, 7, 8}

In [29]:
movies = ['Departed', 'Titanic', 'Aviator', 'Avatar', '2012']
{len(i) for i in movies}

{4, 6, 7, 8}

In [34]:
movies = {'Departed':9, 'Titanic':9.2, 'Aviator':8.7, 'Avatar':9.1, '2012':8.6}
{movie:rating for movie,rating in enumerate(movies)}

{0: 'Departed', 1: 'Titanic', 2: 'Aviator', 3: 'Avatar', 4: '2012'}

In [35]:
numbers = [1,2,3,4]
for num in numbers:
    if num == 4:
        break
        print(num)

In [36]:
numbers = [1,2,3,4,5]
for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5

In [37]:
numbers = [1,2,3]
for item in numbers:
    print(item)

else:
    print("no item left in the list")

1
2
3
no item left in the list

In [38]:
numbers = [1,2,3,4]
for item in numbers:
    if item % 2 == 0:
        print(item)
        break

2

In [39]:
x=0

while x < 6:
    x = x+1
    print(x)

1
2
3
4
5
6

In [40]:
x = 0
while x < 8:
    print("x is ",x)
    x = x+1

x is  0
x is  1
x is  2
x is  3
x is  4
x is  5
x is  6
x is  7

In [41]:
x = 8
while x > 1:
    print("x is {}".format(x))
    x -= 1

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2

In [42]:
i = 100
s = 20

while i<=500:
    s = s+i
    i = i+100

print(s)

1520

In [43]:
i = 0
s = 0

while (i<=5):
    s = s+i
    i+=2

print(s)

6

In [44]:
x=0
print(x)
while x < 5:
    x=x+1

print(x)

0
5

In [45]:
i = 0
s = 0

while(i<=10):
    s = s+i
    i+=2

print(s)

30

In [46]:
i=0
while(i<=100):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [49]:
n = int(input("enter n: "))
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1

print("The sum is",sum)

enter n:  4

The sum is 10

In [50]:
s = 0
while True:
    a=input('enter a value:')
    if (a=='done'):
        break
    s=s+int(a)

print(s)

enter a value: 4
enter a value: 4
enter a value: 4
enter a value: 4
enter a value: done

16

In [51]:
x = 8
while x > 1:
    print("x is {}".format(x))
    x -= 1
    if x == 9:
        break

else:
    print("x is no longer greater than 1")

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater than 1

In [52]:
x = 0
while x < 8:
    print("x is {}".format(x))
    x += 1
else:
    print("x is no longer < 8")

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is no longer < 8

In [54]:
numbers = [1,2,3,4,5]

index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1

else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

In [55]:
a = int(input())
fact = 1
for i in range(a,0,-1):
    fact=fact*i

print(fact)

 5

120

In [56]:
a = int(input())
fact = 1
for i in range(1,a+1):
    fact=fact*i
    print("after",i,"iteration the factorial value is:", fact)

 5

after 1 iteration the factorial value is: 1
after 2 iteration the factorial value is: 2
after 3 iteration the factorial value is: 6
after 4 iteration the factorial value is: 24
after 5 iteration the factorial value is: 120